#root {
  margin: 0 auto;
  text-align: center;
  background-color: var(--bg-color);
}
body {
  background-color: var(--bg-color);
}
.selected {
  color: var(--text-color);
}
.selected::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--main-color);
  animation: showborder 0.25s;
}
@keyframes showborder {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.button-icon {
  opacity: 0.3;
}
.button-icon:hover {
  opacity: 1;
}
.selected-icon {
  opacity: 1;
  pointer-events: none;
}
.loading {
  animation: spin 1s linear infinite;
  /* transition: all 0.25 ease-in; */
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
