#root {
  margin: 0;
  text-align: center;
  background-color: white;
  height: 100%;
  width: 100%;
}
body {
  width: 100%;
}
body,
html {
  width: 100%;
  background-color: white;
  height: 100%;
}
.selected {
  color: var(--text-color);
}
.selected::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--main-color);
  animation: showborder 0.25s;
}
@keyframes showborder {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.button-icon {
  opacity: 0.3;
}
.button-icon:hover {
  opacity: 1;
}
.selected-icon {
  opacity: 1;
  pointer-events: none;
}
.loading {
  animation: spin 1s linear infinite;
  /* transition: all 0.25 ease-in; */
}

.container {
  display: flex;
}
.container--main {
  cursor: default;
}
.brand-item {
  cursor: default;
}
.brand-item * {
  pointer-events: none;
}
.brand-item:hover p {
  opacity: 1;
}
.brand-item p.active {
  opacity: 100%;
  padding-left: 48px;
}
body {
  font-size: 18px;
}
p {
  font-weight: 500;
}
span {
  font-weight: 500;
}
.container--left {
  border-right: 6px solid var(--main-color);
  padding: 4px 10px;
  position: relative;
  height: 100%;
  left: 0;
}

table thead tr th {
  text-align: center;
  color: var(--white-color);
}
table thead tr:nth-child(even) {
  background-color: var(--bg-color);
}
table thead tr:nth-child(odd) {
  background-color: var(--main-color);
}

table tbody tr th {
  text-align: center;
  color: var(--text-color);
}
table thead tr:nth-child(even) {
  background-color: var(--bg-color);
}
table thead tr:nth-child(odd) {
  background-color: var(--main-color);
}

.container--left .container--left__extra {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  height: 40px;
  width: 20px;
  position: absolute;
  right: 0px;
  transform: translateX(26px);
  top: 45%;
  border-radius: 0 4px 10px 0;
  background-color: var(--main-color);
  transition: all 0.2s ease;
  cursor: pointer;
}
.container--left .container--left__extra:hover {
  padding-left: 4px;
  width: 36px;
  transform: translateX(36px);
  opacity: 0.9;
}
.container--left .container-filter {
  display: flex;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: default;
}
.container--left .container-filter .filter {
  min-width: 200px;
  display: flex;
}
.container--left .container-filter button {
  cursor: pointer;
}
.logo-home {
  font-size: 24px;
  font-weight: 600;
  padding: 4px 0;
}
.container--main {
  border-left: 8px solid var(--bg-color);
  height: 100%;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  flex: 1;
  padding: 20px;
}
.container--main.reponsive * {
  transition: all 0.2s ease-out;
}
.container--main.reponsive .container__header .search-box {
  width: 30%;
}
.container--main.reponsive .container__body .products-box h3 {
  font-size: 20px;
  padding: 0px -8px;
}
.container--main.reponsive .container__body .products-box .info-item {
  padding: 0 12px;
}
.container--main.reponsive .container__body .products-box .info-item li {
  font-size: 10px;
  padding: 4px 2px;
}
.container--main.reponsive .highprice {
  font-size: 16px;
}
.container--main.reponsive .lowprice {
  font-size: 20px;
}
.container--main.reponsive .button-box button {
  padding: 4px;
  font-size: 16px;
}
.container-filter {
  display: flex;
}
.brands-list {
  background-color: var(--list-color);
  display: flex;
  /* width: 100%; */
  padding-top: 8px;
  gap: 4px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}
.brand-item {
  flex: 1;
  display: flex;
  text-align: left;
  align-items: center;
  cursor: pointer;
}
.brand-item img {
  height: 38px;
  width: 38px;
  background-size: cover;
  border-radius: 3px;
}
.brand-item p {
  padding: 4px 10px;
  opacity: 70%;
  transition: all 0.1s linear;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0px 2px 2px 0px;
}
.list-checkbox {
  max-width: 220px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4px;
}
.list-checkbox-type {
  gap: 4px;
  display: grid;
}
.list-checkbox-type .checkbox-item {
  flex: 1;
}
.list-checkbox .checkbox-item {
  display: flex;
  width: 100%;
}
.filter > p,
.filter-extra div p {
  margin-top: 10px;
  margin-bottom: 4px;
}
.button-filter {
  padding: 0.5rem;
  margin-top: 4px;
  width: 100%;
  font-weight: 500;
}
.filter-hidden {
  display: block;
  width: 0px;
  height: 0px;
  overflow: hidden;
  animation: hiddenFilter 0.1s linear;
  transition: all 0.1s linear;
}
.filter-show {
  padding: 0px 8px;
  margin-top: 20px;
  margin-left: 10px;
  border-left: 2px solid var(--bg-color);
  background-color: transparent;
  width: 200px;
  height: 94%;
  display: block;
  animation: showFilter 0.1s ease-in;
  transition: all 0.1s linear;
}

.checkbox-item button {
  font-weight: 400;
  padding: 2px 0px;
  margin: 2px 0;
  width: 100%;
  border: 1px solid var(--bg-color);
  border-radius: 4px;
  cursor: default;
}
.checkbox-item button:hover {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}
.checkbox-item button.active {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}
.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.product-list .product-item {
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  padding: 4px;
}
.product-list .product-item:hover {
  transform: translateY(-2px);
  box-shadow: 2px 2px 3px 2px #ccc;
}
.product-list .product-item .img-product {
  height: 200px;
  width: 160px;
  margin: 10px 0;
}
.product-list .product-item .info-product {
  padding: 10px;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  text-align: left;
}
.product-list .product-item .info-product .info-product__tech span {
  font-size: 16px;
  font-weight: 400;
  cursor: default;
}
.product-list .product-item .info-product p {
  font-size: 18px;
  cursor: default;
}
.product-list .product-item div .info-product--top {
  flex: calc(1 / 3);
  min-height: 34px;
  border-bottom: 1px solid var(--text-color);
}
.product-list .product-item div .info-product--center {
  flex: calc(1 / 3);
}
.product-list .product-item div .info-product--bot {
  flex: calc(1 / 3);
}
.product-list .product-item div .info-product--bot span {
  font-size: 16px;
  color: var(--green-color);
}
.product-list .product-item div .info-product--bot p {
  font-size: 16px;
  color: var(--red-color);
}
.slideshow {
  margin: 20px 0;
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.chat-container {
  position: relative;
  width: 300px;
  height: 400px;
  margin: auto;
  top: 30px;
  font-size: 16px;
  /* max-width: 100%; */
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.chat-header {
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 4px 10px;
  font-size: 20px;
  font-weight: 600;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 10px solid var(--white-color);
  text-align: center;
}
.chat-header i {
  font-size: 16px;
  opacity: 0.8;
  cursor: pointer;
}
.chat-header i:hover {
  opacity: 1;
}
.chat-body {
  flex: 1;
  padding: 10px;
  overflow: hidden;
  overflow-y: scroll;
}
.chat-message {
  margin-bottom: 10px;
  padding: 4px 10px;
}
.chat-message.user {
  text-align: left;
  background-color: #007bff;
  color: #fff;
  border-radius: 10px 10px 0px 10px;
  box-shadow: 1px 1px 5px #ccc;
}
.chat-message.bot {
  background-color: #fff;
  box-shadow: 1px 1px 5px #ccc;
  text-align: left;
  border-radius: 0px 10px 10px 10px;
}
.chat-footer {
  display: flex;
  padding: 10px;
  border-top: 1px solid #eee;
}
.chat-footer input {
  font-size: 16px;
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-right: 10px;
}
.chat-footer button {
  font-size: 16px;
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

@keyframes showFilter {
  0% {
    width: 0;
    transform: translateX(-30%);
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    width: 200px;
    transform: translateX(0%);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
@keyframes hiddenFilter {
  0% {
    opacity: 1;
    min-width: 220px;
    transform: translateX(0%);
  }
  20% {
    opacity: 0;
  }
  100% {
    min-width: 0px;
    transform: translateX(-30%);
    opacity: 0;
  }
}
@keyframes slider-show {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
.container__footer a:hover {
  color: purple;
}
.nav-item {
  font-weight: 500;
}
.nav-item:hover {
  color: var(--main-color);
}
.nav-item--blue {
  color: var(--white-color);
  font-weight: 500;
}
.nav-item--blue:hover {
  border-bottom: 4px solid #fff;
}
.highprice {
  margin-bottom: -10px;
  padding-left: 10px;
  font-size: 16px;
  color: var(--gray-color);
  position: relative;
}
.highprice::before {
  position: absolute;
  top: 50%;
  left: 0px;
  content: "";
  width: 60%;
  height: 2px;
  background-color: var(--gray-color);
}
.lowprice {
  margin-top: 6px;
  font-size: 24px;
  color: var(--red-color);
}
